<form action="/posts/" method="POST">
  <label for="title">Title</label>
  <input name="title" type="text" value="" placeholder="Title"/><br/>
  <label for="post">Post</label>
  <textarea cols="30" id="" name="post" rows="10"></textarea>
  <input type="submit" value="Submit"/>
</form>
